.class{
    width: 100%;
}
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: whitesmoke;
    background-color: rgb(32, 29, 29);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .main {
    margin-left: 160px;
    font-size: 28px; 
    padding: 0px 10px;
  }